
.web {
    position: absolute;
    top: 100vh;
width: 100vw;
height: 100vh;

background: #EB1A1A;

display:none;
}

.webtext {
    position: absolute;
    width: 60vw;
    height: 70vh;
left: 10px;
top: 900px;

font-family: Courier;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;


color:white;
display:none;
}

.container {
    background-color: black;
    width: 100vw;
}

body {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 150vh;


}

.one {
    background-color: black;
    height: 100vh;

}

.title {
    position: absolute;
    width: 100vw;
    
    left: 0px;
    top: 289px;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;

}

.by {
    position: absolute;
    width: 100vw;
    
    left: 0px;
    top: 341px;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;

    color: #FFFFFF;
}

.info {
    position: absolute;
    width: 100vw;
    left: 0px;
    top: 424px;
    

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}


.two {
    background-color:black;
    height: 1000vh;

}
    


.text {
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    width: 1342px;
    height: 798px;
    left: 43px;
    top: 956px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 100vh;
    color:#fff;
}

.name 
{
    text-align: center;
}
.cut
{

    text-align: right;
}

.regular  {

    text-align: left;
}
.speech {

    text-align: left;
    margin-left: 300px;
    margin-right: 300px;

}


    #mydiv {
        position: absolute;
        z-index: 9;
        width: 252px;}
      
      #mydivheader img {
        
        padding-top: 1700px;
        cursor: move;
        z-index: 10;
        width: 245px;
        padding-left: 30px;  }   
        
      
      #Blah {
        
        text-align: center;
        background-color:black;
        position: absolute;
        display: none
         }

         .button {
             background-color:white;
             
            font-family: 'Courier New', Courier, monospace;
            font-size: 24px;
            color: black;
            
         }
         #pic {
            position: absolute;
            z-index: 9;
            width: 252px;}
          
          #picture img {
            
            padding-left: 280px;
            padding-top: 1700px;
            cursor: move;
            z-index: 10;
            width: 245px;}         

        #blah {
            position: absolute;
            z-index: 9;
            width: 252px;
        }

        #bl img {
            padding-left: 530px;
            padding-top: 1700px;
            cursor: move;
            z-index: 10;
            width: 245px;

        }

        #four {
            position: absolute;
            z-index: 9;
            width: 252px;
        }

        #fourblah img {
            padding-left: 780px;
            padding-top: 1700px;
            cursor: move;
            z-index: 10;
            width: 245px;

        }

#Mountain {

    text-align: center;
        background-color:black;
        position: absolute;
        display: none

}

#charles {
    position: absolute;
        z-index: 9;
        width: 252px;

}

#charlesone img {
   
    padding-left: 100px;
            padding-top: 2600px;
            cursor: move;
            z-index: 10;
            width: 380px;
}

#ardito {
    position: absolute;
    z-index: 9;
    width: 252px;

}

#arditoone img {

    padding-left: 500px;
    padding-top: 2600px;
    cursor: move;
    z-index: 10;
    width: 380px;


}

#a {
    position: absolute;
    z-index: 9;
    width: 252px;
}

#trail img {

    padding-left: 900px;
    padding-top: 2600px;
    cursor: move;
    z-index: 10;
    width: 330px;


}
#Queen {

    text-align: center;
        background-color:black;
        position: absolute;
        display: none
}

#pink {
    position: absolute;
    z-index: 9;
    width: 1px;

}

#pinkpurple img {

    padding-left: 30px;
    padding-top: 4900px;
    cursor: move;
    z-index: 10;
    width: 280px;

}

#blue {
    position: absolute;
    z-index: 9;
    width: 2px;

}

#bluegreen img {

    padding-left: 320px;
    padding-top: 4900px;
    cursor: move;
    z-index: 10;
    width: 280px;

}

#red { 
 
    position: absolute;
    z-index: 9;
    width: 252px;

}

#redyellow img {

    padding-left: 610px;
    padding-top: 4900px;
    cursor: move;
    z-index: 10;
    width: 280px;


}

 #portrait {

    position: absolute;
    z-index: 9;
    width: 2px;


}

#portraitladies img {

    padding-left: 950px;
    padding-top: 4900px;
    cursor: move;
    z-index: 10;
    width: 400px;


} 

#Poster {

    text-align: center;
        background-color:black;
        position: absolute;
        display: none
}

#american {

    position: absolute;
    z-index: 9;
    width: 2px;
}

#honey img {

    padding-left: 1000px;
    padding-top: 5900px;
    cursor: move;
    z-index: 10;
    width: 380px;


}

#blue {
    position: absolute;
    z-index: 9;
    width: 2px;

}

#ruin img {

    padding-left: 100px;
    padding-top: 5900px;
    cursor: move;
    z-index: 10;
    width: 280px;


}

#repo {

    position: absolute;
    z-index: 9;
    width: 2px;
}

#man img {

    padding-left: 400px;
    padding-top: 5900px;
    cursor: move;
    z-index: 10;
    width: 280px;

}

#mama {
    position: absolute;
    z-index: 9;
    width: 2px;

}

#tambien img {

    padding-left: 700px;
    padding-top: 5900px;
    cursor: move;
    z-index: 10;
    width: 280px;


}

#Tools {
    text-align: center;
        background-color:black;
        position: absolute;
        display: none
}

#one { 

    position: absolute;
    z-index: 9;
    width: 280px;

}

#onetool img {

    padding-left: 200px;
    padding-top: 6500px;
    cursor: move;
    z-index: 10;
    width: 250px;


}

#two {


    position: absolute;
    z-index: 9;
    width: 280px;


}

#twotools img {

    padding-left: 500px;
    padding-top: 6500px;
    cursor: move;
    z-index: 10;
    width: 250px;


}
@media (max-width: 1000px) {

.title {
    position: absolute;
width: 354px;
height: 211px;
left: 10px;
top: 301px;

font-family: Courier;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;
}

.by { 
    position: absolute;
    width: 354px;
    height: 60px;
    left: 10px;
    top: 333px;
    
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #FFFFFF;

}

.info {

    position: absolute;
width: 354px;
height: 44px;
left: 10px;
top: 393px;

font-family: Courier;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #FFFFFF;
}

.text {
    display: none;
}

.web {

display: flex;
}

.webtext {
    display:flex;
}
}